.game {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 0 0 80px;
  background: #f5f5f7;
  flex-direction: column;
  justify-content: space-around;
}

.game__question {
  font-size: 32px;
  font-weight: 600;
  max-width: 700px;
  color: var(--black);
}

.game__burger-btn {
  display: none;
  width: 50px;
  height: 50px;
  background: none;
  align-items: center;
  justify-content: center;
}

.options {
  width: 810px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.options_multiple {
  height: 100%;
  max-height: 260px;
}

.options-inner {
  width: 100%;
}

.options::-webkit-scrollbar {
  width: 7px;
}

.options::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

.options::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
}

.options::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.options__option {
  width: 50%;
  height: 72px;
  margin: 16px 0;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  position: relative;
  color: var(--black);
  padding: 0 0 0 75px;
  background: url(../../../assets/question-option-bg-mobile.svg) no-repeat
    center;
  background-size: cover;
}

.options__option-letter {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--orange);
  transform: translate(54px, -50%);
}

.options__option:hover {
  background: url(../../../assets/Hover.svg) no-repeat center;
  background-size: cover;
}

.options__option_selected,
.options__option_selected:hover {
  background: url(../../../assets/Selected.svg) no-repeat center;
  background-size: cover;
}

.options__option_correct,
.options__option_correct:hover {
  background: url(../../../assets/Correct.svg) no-repeat center;
  background-size: cover;
}

.options__option_wrong,
.options__option_wrong:hover {
  background: url(../../../assets/Wrong.svg) no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .game {
    padding: 0 20px;
  }
}

@media screen and (max-width: 850px) {
  .game-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .game__burger-btn {
    display: flex;
  }

  .options {
    width: 100%;
    max-height: 340px;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }

  .options-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .options__option {
    width: 410px;
    margin: 4px 0;
  }
}

@media screen and (max-width: 600px) {
  .game {
    justify-content: flex-start;
  }

  .game-top-content {
    flex-direction: column-reverse;
  }

  .game__burger-btn {
    position: fixed;
    top: 0;
    right: 0;
  }

  .game__question {
    margin: 122px 0 96px;
  }

  .options {
    max-height: 275px;
  }

  .options__option {
    width: 100%;
    height: 56px;
    max-width: 320px;
    font-size: 14px;
    padding: 0 0 0 58px;
  }

  .options__option-letter {
    font-size: 14px;
    transform: translate(41px, -50%);
  }
}
