.game-start {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb-up {
  max-width: 453px;
  width: 100%;
}
  
.game-content {
  display: flex;
  max-width: 500px;
  margin: 0 0 0 118px;
  flex-direction: column;
  align-items: flex-start;
}
  
.game-content__title {
  color: var(--black);
  font-size: 56px;
  font-weight: 600;
  margin: 0 0 64px;
}

@media screen and (max-width: 1100px) {
  .game-content {
    margin: 0 0 0 70px;
  }
}

@media screen and (max-width: 950px) {
  .game-content__title {
    font-size: 42px;
    margin: 0 0 46px;
  }
}

@media screen and (max-width: 830px) {
  .game-content {
    margin: 0 0 0 20px;
  }

  .game-content__title {
    font-size: 32px;
  }

  .game-content__start {
    height: 48px;
    font-size: 14px;
  }
}

@media screen and (max-width: 670px) {
  .game-start {
    flex-direction: column;
  }

  .thumb-up {
    max-width: 353px;
  }

  .game-content {
    margin: 24px 0 0;
    align-items: center;
  }

  .game-content__title {
    margin: 0 0 102px;
    text-align: center;
  }
}